</br>

<div class="card mb-3">
  <div class="card-header">
    <h4 class="float-left "><strong> Permission Flow Action </strong></h4>
    <h5 class=" float-right text-primary  border-sm-bottom border-200"><%=   %></h5>
    <h3 class="mb-3 col-12 dropdown-divider"></h3>
    <table class="table table-sm table-bordered ">
      <thead class="thead-light">
      <tr>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th class="white-space-nowrap"><%= @permission_flow_action.permission_action.caminho %></th>
      </tr>
      </tbody>
    </table>
  </div>
  <%= link_to 'Voltar',  admin_permission_flows_path, class:'btn btn-sm btn-warning' %>
  <div class="card-body px-0 pt-0">
    <div class="dashboard-data-table">

    </div>

  </div>
</div>
